<section>
    @for (item of feedData.feed; track $index) {
    <div class="posting">
        <p>{{item.userName}}</p>
        <img src="./assets/img/{{item.img}}" alt="{{item.img}}">

        <div class="likes-container">
            <p>{{item.likes}}</p>

            @if (item.liked) {
                <img (click)="likePosting($index, false)" src="./assets/img/heart-red.png" alt="post has been liked">
            } @else {
                <img (click)="likePosting($index, true)" src="./assets/img/heart-black.png" alt="post has not been liked">
            }
        </div>
    </div>
    }


    <a class="navigation-link" href="contacts">CONTACTS</a>
</section>